<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.spm.bizs.mapper.msg.PointMessageMapper">
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.msg.PointMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PM_ID" jdbcType="VARCHAR" property="pmId" />
    <result column="PM_NAME" jdbcType="VARCHAR" property="pmName" />
    <result column="POINT_ID" jdbcType="VARCHAR" property="pointId" />
    <result column="PM_CONTENT" jdbcType="VARCHAR" property="pmContent" />
    <result column="PM_DATE" jdbcType="TIMESTAMP" property="pmDate" />
    <result column="POINT_NAME" jdbcType="VARCHAR" property="pointName" />
    <result column="STATION" jdbcType="VARCHAR" property="station" />
    <result column="STATION_ID" jdbcType="VARCHAR" property="stationId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    PM_ID, PM_NAME, POINT_ID, PM_CONTENT, PM_DATE, POINT_NAME, STATION, STATION_ID
  </sql>
</mapper>