<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.msg.TbcTireMonitorMapper" >
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.msg.TbcTireMonitor" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="POINT_ID" property="pointId" jdbcType="VARCHAR" />
    <result column="HIT_TYPE" property="hitType" jdbcType="DECIMAL" />
    <result column="HIT_PIC" property="hitPic" jdbcType="VARCHAR" />
    <result column="HIT_TIME" property="hitTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="selectResultMap" type="java.util.Map" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="POINT_ID" property="pointId" jdbcType="VARCHAR" />
    <result column="HIT_TYPE" property="hitType" jdbcType="VARCHAR" />
    <result column="HIT_PIC" property="hitPic" jdbcType="VARCHAR" />
    <result column="HIT_TIME" property="hitTime" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectById" resultMap="selectResultMap">
    select * from tbc_tire_monitor where id = #{id}
  </select>

  <select id="selectByPointsId" resultMap="selectResultMap">
    select * from tbc_tire_monitor where POINT_ID in
    <foreach close=")" collection="pointIds" index="index" item="pointIds" open="(" separator=",">
      #{pointIds}
    </foreach>
  </select>
</mapper>