<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.admin.AppBindMapper" >
  <resultMap id="BaseAppBindBaseResultMap" type="com.ts.spm.bizs.entity.admin.AppBind" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DEVICE_ID" property="deviceId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ListResultMap" type="com.ts.spm.bizs.entity.admin.AppBind" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DEVICE_ID" property="deviceId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getpage" resultType="com.ts.spm.bizs.vo.admin.AppBindVo">
    select T1.ID, T1.USER_ID userId, T1.DEVICE_ID deviceId, T2.USERNAME userName, T2.NAME fullName, T3.NAME deptName
    from SPM_SYS.TBL_APP_BIND T1, SPM_SYS.BASE_USER T2, SPM_SYS.BASE_DEPART T3
    WHERE T1.USER_ID=T2.ID AND T2.DEPART_ID=T3.ID
    <if test="_parameter!=null and _parameter!=''">
      AND T2.USERNAME like CONCAT(CONCAT('%',#{_parameter}),'%')
    </if>
  </select>
</mapper>