<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.admin.GateLogMapper" >
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.admin.GateLog" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu" property="menu" jdbcType="VARCHAR" />
    <result column="opt" property="opt" jdbcType="VARCHAR" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_user" property="crtUser" jdbcType="VARCHAR" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_host" property="crtHost" jdbcType="VARCHAR" />
    <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    <result property="departId" column="depart_id" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="allpage" resultType="com.ts.spm.bizs.vo.admin.GateLogVo">
  select  id, menu, opt, uri ,crt_user, tenant_id, crt_time AS crtTime ,crt_user AS crtUser,crt_name AS crtName, crt_host as crtHost, tenant_id AS tenantId ,depart_id as departId from SPM_SYS.gate_log where 1=1
    <if test="item!=null and item.size>0">
      and  depart_id in
      <foreach collection="item" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="begintime!=null and begintime!=''">
      and DATE_FORMAT(crt_time,'%Y-%m-%d') >=  #{begintime}
    </if>
    <if test="endtime!=null and endtime!=''">
      and #{endtime}>=DATE_FORMAT(crt_time,'%Y-%m-%d')
    </if>
    <if test="crtName!=null and crtName!=''">
      and crt_name like CONCAT(CONCAT('%',#{crtName}),'%')
    </if>
    <if test="opt!=null and opt!=''">
      and opt like CONCAT(CONCAT('%',#{opt}),'%')
    </if>
    <if test="addr!=null and addr!=''">
      and crt_host like CONCAT(CONCAT('%',#{addr}),'%')
    </if>
   order by crt_time desc
  </select>
</mapper>
