<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.spm.bizs.mapper.admin.UserMapper">
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.admin.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="tel_phone" jdbcType="VARCHAR" property="telPhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result property="crtUserName" column="crt_user_name"/>
    <result property="crtUserId" column="crt_user_id"/>
    <result property="crtTime" column="crt_time"/>
    <result property="updUserName" column="upd_user_name"/>
    <result property="updUserId" column="upd_user_id"/>
    <result property="updTime" column="upd_time"/>
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    <result column="attr5" jdbcType="VARCHAR" property="attr5" />
    <result column="attr6" jdbcType="VARCHAR" property="attr6" />
    <result column="attr7" jdbcType="VARCHAR" property="attr7" />
    <result column="attr8" jdbcType="VARCHAR" property="attr8" />
    <result column="depart_id" jdbcType="VARCHAR" property="departId" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted"/>
    <result column="is_disabled" jdbcType="VARCHAR" property="isDisabled"/>
    <result column="is_super_admin" jdbcType="VARCHAR" property="isSuperAdmin"/>
    <result column="app_menus" jdbcType="VARCHAR" property="appMenus"/>
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
      <result column="DEPART_ID" property="departId" jdbcType="VARCHAR" />
      <result column="USER_START_DATE" property="userStartDate" jdbcType="VARCHAR" />
      <result column="USER_END_DATE" property="userEndDate" jdbcType="VARCHAR" />
      <result column="VALID_FLAG" property="validFlag" jdbcType="VARCHAR" />
      <result column="DATE_FLAG" property="dateFlag" jdbcType="VARCHAR" />
      <result column="EMPLOY_ID" property="employId" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectMemberByGroupId" resultMap="BaseResultMap">
    select u.username,u.name,u.id from SPM_SYS.base_user u
    left join  SPM_SYS.base_group_member gm
    on gm.user_id = u.id where gm.group_id = #{groupId}
  </select>
  <select id="selectLeaderByGroupId" resultMap="BaseResultMap">
    select u.username,u.name,u.id from SPM_SYS.base_user u
    left join SPM_SYS.base_group_leader gm
    on gm.user_id = u.id where gm.group_id = #{groupId}
  </select>
  <select id="selectUserDataDepartIds" resultType="java.lang.String" parameterType="java.lang.String">
    select bd.id from SPM_SYS.BASE_DEPART bd, SPM_SYS.BASE_USER_DEPART bud where bud.depart_id = bd.id and bud.user_id = #{userId}
  </select>

  <select id="userPositionbyID" resultType="com.ts.spm.bizs.vo.admin.UserVo" parameterType="java.lang.String">
SELECT
	bu.*, bu.mobile_phone AS mobilePhone,
	bu.tel_phone AS telPhone,
	bu.depart_id AS departId,
	bu.is_deleted AS isDeleted,
	bu.is_disabled AS isDisabled,
	bu.is_super_admin AS isSuperAdmin,
	bu.app_menus AS appMenus,
	bu.tenant_id AS tenantId
FROM
	SPM_SYS.base_user bu
WHERE bu.id=#{userId}
  </select>

    <select id="userPage" resultType="com.ts.spm.bizs.vo.admin.UserVo" parameterType="java.lang.String">
        SELECT
            bu.*, bu.mobile_phone AS mobilePhone,
            bu.tel_phone AS telPhone,
            bu.depart_id AS departId,
            bu.is_deleted AS isDeleted,
            bu.is_disabled AS isDisabled,
            bu.is_super_admin AS isSuperAdmin,
            bu.app_menus AS appMenus,
            bu.tenant_id AS tenantId
        FROM
        SPM_SYS.base_user bu
        inner join  SPM_SYS.base_depart bd on  bu.depart_id=bd.id
        WHERE 1=1 and bu.is_deleted=0 and bu.is_super_admin!=1
        <if test="type==null or type==''">
            and bd.name_of_office='JYZGJG'
        </if>
        <if test="type!=null and type!=''">
            <if test="type==2">
            and bd.name_of_office='AQBHJG'
            </if>
        </if>
        <if test="item!=null and item.size>0">
            and  bu.depart_id in
            <foreach collection="item" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="jobcode!=null and jobcode!=''">
          and find_in_set(#{jobcode},bu.attr3) > 0
        </if>
        <if test="name!=null and name!=''">
            and (bu.name like CONCAT(CONCAT('%',#{name}),'%') or bu.username like CONCAT(CONCAT('%',#{name}),'%'))
        </if>
        <if test="groupid!=null and groupid!=''">
            and bu.id in(SELECT bgl.user_id from SPM_SYS.base_group_leader bgl where bgl.group_id =#{groupid})
        </if>
        order by  bu.crt_time asc
  </select>

    <select id="userbyjobcode" resultType="com.ts.spm.bizs.vo.admin.UserVo">
        SELECT
        u.username,
        u. NAME,
        u.id,
        u.attr3,
        bdp.id AS depatId,
        bdp. NAME AS depatName
        FROM
        SPM_SYS.base_user u
        INNER JOIN SPM_SYS.base_depart bdp ON bdp.id = u.depart_id
        WHERE
        u.is_deleted = '0'
        AND u. STATUS = '1'
        <if test="item!=null and item.size>0">
            and u.depart_id in
            <foreach collection="item" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="jobCategoryCode1!=null and jobCategoryCode1!=''">
            and find_in_set(#{jobCategoryCode1},u.attr3) > 0
        </if>
        <if test="jobCategoryCode2!=null and jobCategoryCode2!=''">
          and find_in_set(#{jobCategoryCode2},u.attr3) > 0
        </if>
        <if test="jobCategoryCode3!=null and jobCategoryCode3!=''">
            and find_in_set(#{jobCategoryCode3},u.attr3) > 0
        </if>
        <if test="jobCategoryCode4!=null and jobCategoryCode4!=''">
          and find_in_set(#{jobCategoryCode4},u.attr3) > 0
        </if>
        <if test="username!=null and username!=''">
            and u.name like CONCAT(CONCAT('%',#{username}),'%')
        </if>
    </select>


    <!--new-->
    <select id="getUserList" resultType="com.ts.spm.bizs.vo.admin.UserVo">
        select distinct bu.USERNAME as loginName,bu.*,bu.DEPART_ID as departId,bu.EMPLOY_ID as employId,bu.CRT_TIME as crtTime,be.name as employName,be.MOBILE as mobile,bu.IS_DISABLED as isDisabled
        from SPM_SYS.BASE_USER bu
        left join  SPM_SYS.BASE_DEPART bd on  bu.depart_id=bd.id
        left join  SPM_SYS.TBL_BASE_EMPLOYEE be on  be.ID=bu.EMPLOY_ID
        left join SPM_SYS.BASE_GROUP_LEADER bgl on bgl.USER_ID = bu.ID
        left join SPM_SYS.BASE_GROUP bg on bg.id = bgl.GROUP_ID
        where bu.IS_DELETED=0
        --     and bu.IS_SUPER_ADMIN!=1
        <if test="loginname!=null and loginname!=''">
            and bu.USERNAME like CONCAT(CONCAT('%',#{loginname}),'%')
        </if>
        <if test="roleName!=null and roleName!=''">
            and bg.NAME like CONCAT(CONCAT('%',#{roleName}),'%')
        </if>
        <if test="roleId!=null and roleId!=''">
            and bg.ID =#{roleId}
        </if>
        <if test="isDisabled!=null and isDisabled!='' ">
            and bu.IS_DISABLED=#{isDisabled}
        </if>
        <!--    <if test="departid!=null and departid!=''">-->
        <!--        and bu.DEPART_ID=#{departid}-->
        <!--    </if>-->

        <if test="departid!=null and departid.size>0">
            and  bu.DEPART_ID in
            <foreach collection="departid" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="employIds!=null and employIds.size>0">
            and  bu.EMPLOY_ID in
            <foreach collection="employIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY bu.USERNAME asc

    </select>

    <update id="updateUserStatus">
    update SPM_SYS.BASE_USER
    set  IS_DISABLED=#{isDisabled},UPD_USER_NAME=#{updUserName},UPD_USER_ID=#{updUserId},UPD_TIME=#{updTime}
    where id=#{id}
  </update>


    <insert id="addUser" parameterType="com.ts.spm.bizs.entity.admin.User" >
    insert into SPM_SYS.BASE_USER(
        ID,USERNAME,NAME,PASSWORD,STATUS,DESCRIPTION,CRT_USER_ID,CRT_USER_NAME,CRT_TIME,TENANT_ID,
        IS_DELETED,IS_DISABLED,DEPART_ID,IS_SUPER_ADMIN,USER_START_DATE,USER_END_DATE,EMPLOY_ID
    )
    values(
       #{user.id},#{user.username},#{user.name},#{user.password},#{user.status},#{user.description},#{user.crtUserId},
       #{user.crtUserName},#{user.crtTime},#{user.tenantId},#{user.isDeleted},#{user.isDisabled},#{user.departId},
       #{user.isSuperAdmin},#{user.userStartDate},#{user.userEndDate},#{user.employId}
    )
  </insert>

    <update id="updateUser">
    update SPM_SYS.BASE_USER
    set USERNAME=#{user.username},PASSWORD=#{user.password},DESCRIPTION=#{user.description},
    UPD_USER_ID=#{user.updUserId},UPD_USER_NAME=#{user.updUserName},UPD_TIME=#{user.updTime},TENANT_ID=#{user.tenantId},
    STATUS=#{user.status},DEPART_ID=#{user.departId},IS_SUPER_ADMIN=#{user.isSuperAdmin}
    USER_START_DATE=#{user.userStartDate},USER_END_DATE=#{user.userEndDate},EMPLOY_ID=#{user.employId}
    where id=#{userId}
  </update>

    <update id="delUser">
    update SPM_SYS.BASE_USER
    set IS_DELETED='1',UPD_USER_NAME=#{updUserName},UPD_USER_ID=#{updUserId},UPD_TIME=#{updTime}
    where id=#{userId}

  </update>

    <update id="updatePassword">
    update SPM_SYS.BASE_USER
    set PASSWORD=#{password},UPD_USER_NAME=#{updUserName},UPD_USER_ID=#{updUserId},UPD_TIME=#{updTime}
    where id=#{userId}
  </update>

    <select id="getUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select *
    from SPM_SYS.BASE_USER
    where IS_DELETED='0' and USERNAME=#{userName}
  </select>

</mapper>
