<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.spm.bizs.mapper.jzpoip.TblExceptionLogMapper">
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.jzpoip.TblExceptionLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="EXC_ID" property="excId" jdbcType="VARCHAR" />
    <result column="EXC_REQU_PARAM" property="excRequParam" jdbcType="VARCHAR" />
    <result column="OPER_METHOD" property="operMethod" jdbcType="VARCHAR" />
    <result column="EXC_NAME" property="excName" jdbcType="VARCHAR" />
    <result column="EXC_MESSAGE" property="excMessage" jdbcType="VARCHAR" />
    <result column="OPER_USER_ID" property="operUserId" jdbcType="VARCHAR" />
    <result column="OPER_USER_NAME" property="operUserName" jdbcType="VARCHAR" />
    <result column="OPER_URI" property="operUri" jdbcType="VARCHAR" />
    <result column="OPER_IP" property="operIp" jdbcType="VARCHAR" />
    <result column="OPER_CREATE_TIME" property="operCreateTime" jdbcType="DATE" />
    <result column="DEPART_ID" property="departId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    EXC_ID, EXC_REQU_PARAM, OPER_METHOD, EXC_NAME, EXC_MESSAGE, OPER_USER_ID, OPER_USER_NAME, 
    OPER_URI, OPER_IP, OPER_CREATE_TIME, DEPART_ID, TENANT_ID
  </sql>

</mapper>