<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.matter.EventInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.matter.EventInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="POINT_ID" property="pointId" jdbcType="VARCHAR" />
    <result column="STATION_ID" property="stationId" jdbcType="VARCHAR" />
    <result column="SOURCE" property="source" jdbcType="VARCHAR" />
    <result column="EVT_TYPE_ID" property="evtTypeId" jdbcType="VARCHAR" />
    <result column="EVT_TYPE" property="evtType" jdbcType="VARCHAR" />
    <result column="EVT_LEVEL_ID" property="evtLevelId" jdbcType="VARCHAR" />
    <result column="EVT_LEVEL" property="evtLevel" jdbcType="VARCHAR" />
    <result column="XOPT_NAME" property="xoptName" jdbcType="VARCHAR" />
    <result column="FOUND_TIME" property="foundTime" jdbcType="TIMESTAMP" />
    <result column="CHECKER_NAME" property="checkerName" jdbcType="VARCHAR" />
    <result column="CHECKER_RESULT" property="checkerResult" jdbcType="INTEGER" />
    <result column="DANGER_TYPE" property="dangerType" jdbcType="VARCHAR" />
    <result column="DANGER_TYPE_ID" property="dangerTypeId" jdbcType="VARCHAR" />
    <result column="DANGER_SUB" property="dangerSub" jdbcType="VARCHAR" />
    <result column="DANGER_SUB_ID" property="dangerSubId" jdbcType="VARCHAR" />
    <result column="DANGER_SUM" property="dangerSum" jdbcType="INTEGER" />
    <result column="DANGER_NOTE" property="dangerNote" jdbcType="VARCHAR" />
    <result column="PASSANGER" property="passanger" jdbcType="VARCHAR" />
    <result column="IDCARD" property="idcard" jdbcType="VARCHAR" />
    <result column="DETENTIONDAY" property="detentionday" jdbcType="INTEGER" />
    <result column="REGISTER_ID" property="registerId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="MEASURE" property="measure" jdbcType="VARCHAR" />
    <result column="DEAL_RESULT" property="dealResult" jdbcType="INTEGER" />
    <result column="DEAL_TYPE" property="dealType" jdbcType="VARCHAR" />
    <result column="XPIC_PATH" property="xpicPath" jdbcType="VARCHAR" />
    <result column="PIC_PATH" property="picPath" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_USER_NAME" property="crtUserName" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER_ID" property="updUserId" jdbcType="VARCHAR" />
    <result column="UPD_USER_NAME" property="updUserName" jdbcType="VARCHAR" />
    <result column="DEL_TIME" property="delTime" jdbcType="TIMESTAMP" />
    <result column="DEL_USER_ID" property="delUserId" jdbcType="VARCHAR" />
    <result column="DEL_USER_NAME" property="delUserName" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="PROCESS_EVT_INFO" property="processEvtInfo" jdbcType="VARCHAR" />
    <result column="DANGER_ID" property="dangerId" jdbcType="INTEGER" />
    <result column="READED" property="readed" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    ID, TYPE, TITLE, POINT_ID, STATION_ID, SOURCE, EVT_TYPE_ID, EVT_TYPE, EVT_LEVEL_ID,
    EVT_LEVEL, XOPT_NAME, FOUND_TIME, CHECKER_NAME, CHECKER_RESULT, DANGER_TYPE, DANGER_TYPE_ID,
    DANGER_SUB, DANGER_SUB_ID, DANGER_SUM, DANGER_NOTE, PASSANGER, IDCARD, DETENTIONDAY,
    REGISTER_ID, REMARK, MEASURE, DEAL_RESULT, DEAL_TYPE, CRT_TIME, CRT_USER_ID,
    CRT_USER_NAME, UPD_TIME, UPD_USER_ID, UPD_USER_NAME, DEL_TIME, DEL_USER_ID, DEL_USER_NAME,
    DEL_FLAG, TENANT_ID, PROCESS_EVT_INFO, DANGER_ID
  </sql>

  <select id="getId" resultType="int">
    select nextval('eventInfo')
  </select>

  <select id="selectObjectById" resultMap="BaseResultMap">
    select
    T1.*,T2.NAME POINT, T3.NAME STATION
    from spm_oper.TBL_EVENT_INFO t1, SPM_SYS.BASE_POINT t2, SPM_SYS.BASE_DEPART t3
    WHERE T1.ID=#{id} and T1.POINT_ID=T2.ID AND T1.STATION_ID=T3.ID
  </select>

  <select id="selectByParams" resultType="com.ts.spm.bizs.entity.matter.EventInfo">
    select
    T1.ID, T1.TYPE,T1.FOUND_TIME foundTime,T1.DEAL_TYPE dealType, T1.XPIC_PATH xpicPath, T1.PIC_PATH picPath,
    T2.NAME POINT, T3.NAME STATION
    from spm_oper.TBL_EVENT_INFO t1, SPM_SYS.BASE_POINT t2, SPM_SYS.BASE_DEPART t3
    WHERE
    T1.DEL_FLAG=0 AND T1.POINT_ID=T2.ID AND T1.STATION_ID=T3.ID
    <if test="type!=0">
      and  T1.TYPE=#{type}
    </if>
    <if test="dealResult!=-1">
      and  T1.DEAL_RESULT=#{dealResult}
    </if>
    <if test="dealType!=''">
      and  T1.DEAL_TYPE=#{dealType}
    </if>
    <if test="start!=null and end!=null">
      and  T1.FOUND_TIME BETWEEN #{start} and #{end}
    </if>
    <if test="pointIds!=null and pointIds.size>0">
      and  T1.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    order by T1.FOUND_TIME desc
  </select>

  <select id="selectAlarm" resultType="com.ts.spm.bizs.entity.matter.EventInfo">
    select
    T2.DEPART STATION, T2."NAME" POINT, T3.INPUT_TYPE inputType,T3.MTYPE, T3.STYPE,
    T1.ID, T1.TYPE,T1.FOUND_TIME foundTime,T1.DEAL_TYPE dealType, T1.XPIC_PATH xpicPath,T1.PIC_PATH picPath,T1.STATION_ID stationId,T1.POINT_ID pointId
    from spm_oper.TBL_EVENT_INFO T1, SPM_SYS.BASE_POINT T2, TBC_POINT_DANGER T3
    WHERE
    T1."TYPE"=1 AND T1.DEAL_RESULT=0 AND T1.READED=0
    AND T1.POINT_ID=T2."ID" AND T1.DANGER_ID=T3."ID"
    <if test="pointIds!=null and pointIds.size>0">
      and  T1.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    order by T1.FOUND_TIME desc
  </select>

  <select id="statis1" resultType="map">
    select DATE_FORMAT(t.FOUND_TIME,'%Y-%m-%d %H') stat, count(1) cnt
    from spm_oper.TBL_EVENT_INFO  t
    where t.DEL_FLAG=0 AND t.FOUND_TIME BETWEEN #{start} AND #{end}
    <if test="type!=-1">
      and  t.TYPE=#{type}
    </if>
    <if test="pointIds!=null and pointIds.size>0">
      and  t.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    GROUP BY DATE_FORMAT(t.FOUND_TIME,'%Y-%m-%d %H')
  </select>

  <select id="statis2" resultType="map">
    select DATE_FORMAT(t.FOUND_TIME,'%Y-%m-%d') stat, count(1) cnt
    from spm_oper.TBL_EVENT_INFO  t
    where t.DEL_FLAG=0 AND t.FOUND_TIME BETWEEN #{start} AND #{end}
    <if test="pointIds!=null and pointIds.size>0">
      and  t.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    GROUP BY DATE_FORMAT(t.FOUND_TIME,'%Y-%m-%d')
  </select>

  <select id="chartSite1" resultType="map">
    select t1.*, t2.NAME from
    (select POINT_ID DEPT, count(1) cnt
    from spm_oper.TBL_EVENT_INFO
    where DEL_FLAG=0 AND FOUND_TIME BETWEEN #{start} AND #{end}
    <if test="type!=-1">
      and  TYPE=#{type}
    </if>
    <if test="pointIds!=null and pointIds.size>0">
      and  POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    GROUP BY POINT_ID
    ) t1, SPM_SYS.BASE_POINT t2
    where t1.dept=t2.ID
  </select>

  <select id="chartSite2" resultType="map">
    select t1.*, t2.NAME from
    (
    select STATION_ID DEPT, count(1) cnt
    from spm_oper.TBL_EVENT_INFO  t
    where t.DEL_FLAG=0 AND t.FOUND_TIME BETWEEN #{start} AND #{end}
    <if test="type!=-1">
      and  t.TYPE=#{type}
    </if>
    <if test="pointIds!=null and pointIds.size>0">
      and  t.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    GROUP BY STATION_ID
    ) t1, SPM_SYS.BASE_DEPART t2
    where t1.dept=t2.ID
  </select>

  <select id="chartDanger" resultType="map">
    select DANGER_TYPE DANGER, count(1) cnt
    from spm_oper.TBL_EVENT_INFO  t
    where t.DEL_FLAG=0 AND t.FOUND_TIME BETWEEN #{start} AND #{end}
    and  t.TYPE=1
    <if test="pointIds!=null and pointIds.size>0">
      and  t.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    GROUP BY DANGER_TYPE
  </select>

  <select id="getCount" resultType="map">
    select DANGER_TYPE stat, count(1) cnt
    from spm_oper.TBL_EVENT_INFO  t
    where t.DEL_FLAG=0 AND t.FOUND_TIME BETWEEN #{start} AND #{end}
    and  t.TYPE=1
    <if test="pointIds!=null and pointIds.size>0">
      and  t.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    GROUP BY DANGER_TYPE
  </select>

  <select id="selectCountFromAlarm" resultType="int">
    select count(1) from jzp_oper.deal_result_info
    where HANDLE_RESULT=3 and SUSPECTED_FORBIDDEN_TYPE!=0
    and FIRST_TIME between #{start} and #{end}
    <if test="pointIds!=null and pointIds.size>0">
      and  POINTID in
      <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
  </select>
</mapper>