<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.matter.SecurityLevelPointMapper" >
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.matter.SecurityLevelPoint" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="LEVEL_ID" property="levelId" jdbcType="VARCHAR" />
    <result column="POINT_ID" property="pointId" jdbcType="VARCHAR" />
    <result column="STATION_ID" property="stationId" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_USER_NAME" property="crtUserName" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER_ID" property="updUserId" jdbcType="VARCHAR" />
    <result column="UPD_USER_NAME" property="updUserName" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    ID, LEVEL_ID, POINT_ID, CRT_TIME, CRT_USER_ID, CRT_USER_NAME, UPD_TIME, UPD_USER_ID, 
    UPD_USER_NAME, TENANT_ID
  </sql>

  <select id="selectListByLevel" resultMap="BaseResultMap">
  SELECT
  T1.ID, T1.LEVEL_ID, T1.POINT_ID,
  T2.NAME levelName,
  T3.NAME point,
  T4.NAME station
  FROM TBL_SECURITY_LEVEL_POINT t1, TBL_SECURITY_LEVEL t2, SPM_SYS.BASE_POINT t3, SPM_SYS.BASE_DEPART t4
  WHERE
  t1.LEVEL_ID=T2.ID
  AND T1.POINT_ID=T3.ID
  AND T3.DEPART_ID=T4.ID
  <if test="level!=''">
    and t1.LEVEL_ID=#{level}
  </if>
  <if test="pointIds!=null and pointIds.size>0">
    and  T1.POINT_ID in
    <foreach close=")" collection="pointIds" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </if>
  </select>
</mapper>