<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.matter.SecurityLevelMapper" >
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.matter.SecurityLevel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <result column="DEPT" property="dept" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_USER_NAME" property="crtUserName" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER_ID" property="updUserId" jdbcType="VARCHAR" />
    <result column="UPD_USER_NAME" property="updUserName" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    ID, NAME, DEPT_ID, DEPT, MEMO, CRT_TIME, CRT_USER_ID, CRT_USER_NAME, UPD_TIME,
    UPD_USER_ID, UPD_USER_NAME, TENANT_ID
  </sql>

  <select id="selectListByParam" resultMap="BaseResultMap">
    SELECT
    T1.ID,T1.NAME,T1.DEPT_ID,T1.START_TIME,T1.END_TIME,T1.MEMO,
    T2.NAME dept
    FROM TBL_SECURITY_LEVEL t1, SPM_SYS.BASE_DEPART t2
    WHERE
    t1.DEPT_ID=T2.ID
    <if test="name!=''">
      and t1.NAME LIKE CONCAT(CONCAT('%',#{name}),'%')
    </if>
    <if test="deptIds!=null and deptIds.size>0">
      and  T1.DEPT_ID in
      <foreach close=")" collection="deptIds" index="index" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
  </select>

  <select id="selectCurrentDate" resultMap="BaseResultMap">
    select * from TBL_SECURITY_LEVEL
    where
    #{str} BETWEEN DATE_FORMAT(START_TIME,'%Y-%m-%d') AND DATE_FORMAT(END_TIME,'%Y-%m-%d')
  </select>
</mapper>