<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.up.PassPersonMapper" >
    <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.up.PassPerson" >
        <result column="lineCode" property="lineCode" jdbcType="VARCHAR" />
        <result column="lineName" property="lineName" jdbcType="VARCHAR" />
        <result column="stationCode" property="stationCode" jdbcType="VARCHAR" />
        <result column="stationName" property="stationName" jdbcType="VARCHAR" />
        <result column="checkPositionCode" property="checkPositionCode" jdbcType="VARCHAR" />
        <result column="checkPositionName" property="checkPositionName" jdbcType="VARCHAR" />
        <result column="lastTime" property="lastTime" jdbcType="TIMESTAMP" />
        <result column="increaseCount" property="increaseCount" jdbcType="DECIMAL" />
        <result column="currentTotalCount" property="currentTotalCount" jdbcType="DECIMAL" />
        <result column="source" property="source" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getLastInfo" resultMap="BaseResultMap">
        SELECT
            d.ID lineCode,
            d. NAME lineName,
            c.ID stationCode,
            c. NAME stationName,
            b.ID checkPositionCode,
            b. NAME checkPositionName,
            max(a.COUNT_DATE) lastTime,
            sum(a.INC_FCOUNT + a.INC_BCOUNT) increaseCount,
            (SELECT sum(e.INC_FCOUNT + e.INC_BCOUNT) FROM tbc_pass_person_count e WHERE e.POINT_ID = a.POINT_ID AND e.COUNT_DATE >= CURDATE()) currentTotalCount,
            '2' source
        FROM
            tbc_pass_person_count a,
            spm_sys.base_point b,
            spm_sys.base_depart c,
            spm_sys.base_depart d
        WHERE
            a.POINT_ID = b.ID
        AND b.DEPART_ID = c.ID
        AND c.PARENT_ID = d.ID
        AND a.COUNT_DATE > nexttime('passperson', '1')
        GROUP BY
          d.ID,
            d. NAME,
            c.ID,
            c. NAME,
            b.ID,
            b. NAME
    </select>

    <update id="updatetime" parameterType="String">
        update sys_up_log set
        LAST_TIME = str_to_date(#{time}, '%Y%m%d%H%i%s')
        where name = 'passperson'
    </update>

</mapper>