<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.equ.SysMsgReceiveMapper" >
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.equ.SysMsgReceive" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="RECEIVE_ID" property="receiveId" jdbcType="VARCHAR" />
    <result column="READ_FLAG" property="readFlag" jdbcType="INTEGER" />
    <result column="READ_TIME" property="readTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    ID, RECEIVE_ID, READ_FLAG, READ_TIME
  </sql>

  <select id="selectUserByDepart" resultType="String">
    select USER_ID from SPM_SYS.BASE_USER_DEPART where DEPART_ID=#{departId}
  </select>
</mapper>