<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.spm.bizs.mapper.stat.DayProblemMapper">
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.stat.DayProblem">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PROBLEM_ID" jdbcType="INTEGER" property="problemId" />
    <result column="POINT_ID" jdbcType="VARCHAR" property="pointId" />
    <result column="CHECK_USER" jdbcType="VARCHAR" property="checkUser" />
    <result column="CHECK_DATE" jdbcType="TIMESTAMP" property="checkDate" />
    <result column="IS_PROB" jdbcType="INTEGER" property="isProb" />
    <result column="PROBLEM_TYPE_ID" jdbcType="INTEGER" property="problemTypeId" />
    <result column="INSPECTION_TYPE" jdbcType="INTEGER" property="inspectionType" />
    <result column="REGISTER_ID" jdbcType="INTEGER" property="registerId" />
    <result column="PROBLEM_NOTE" jdbcType="VARCHAR" property="problemNote" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="CRT_USER_ID" jdbcType="VARCHAR" property="crtUserId" />
    <result column="CRT_USER_NAME" jdbcType="VARCHAR" property="crtUserName" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
    <result column="UPD_USER_ID" jdbcType="VARCHAR" property="updUserId" />
    <result column="UPD_USER_NAME" jdbcType="VARCHAR" property="updUserName" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>

  <select id="getProblemList">
    select * from TBL_SUBWAY_DAY_PROBLEM
    where IS_PROB=1
  </select>

  <select id="getId" resultType="java.lang.Integer">
    select nextval('dayProblem')
  </select>

  <select id="getProblemByDepartIds" resultMap="BaseResultMap">
    select dr.*
    from TBL_SUBWAY_DAY_PROBLEM dr,SPM_SYS.BASE_POINT p
    WHERE  dr.POINT_ID=p.ID and dr.IS_PROB=1

    <if test="startTime!=null and startTime != ''">
      AND DATE_FORMAT(dr.CHECK_DATE,'%Y-%m-%d') &gt;= #{startTime}
    </if>
    <if test="endTime!=null and endTime != ''">
      AND DATE_FORMAT(dr.CHECK_DATE,'%Y-%m-%d') &lt;= #{endTime}
    </if>

    <if test="departs!=null and departs.size>0">
      and  p.DEPART_ID in
      <foreach close=")" collection="departs" index="index" item="departs" open="(" separator=",">
        #{departs}
      </foreach>
    </if>
  </select>
</mapper>