<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.stat.TblInnerCheckMapper" >
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.stat.TblInnerCheck" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="CHECK_ID" property="checkId" jdbcType="INTEGER" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="POINT_ID" property="pointId" jdbcType="VARCHAR" />
    <result column="CHECK_ORG" property="checkOrg" jdbcType="VARCHAR" />
    <result column="CHECK_NAME" property="checkName" jdbcType="VARCHAR" />
    <result column="HAS_PROB" property="hasProb" jdbcType="DECIMAL" />
    <result column="PLAN_COUNT" property="planCount" jdbcType="DECIMAL" />
    <result column="REAN_COUNT" property="reanCount" jdbcType="DECIMAL" />
    <result column="CARD_COUNT" property="cardCount" jdbcType="DECIMAL" />
    <result column="HAS_LACK_PERSON" property="hasLackPerson" jdbcType="DECIMAL" />
    <result column="POINT_NAME" property="pointName" jdbcType="VARCHAR" />
    <result column="STATION_ID" property="stationId" jdbcType="VARCHAR" />
    <result column="CHECK_TYPE" property="checkType" jdbcType="DECIMAL" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER_ID" property="crtUserId" jdbcType="VARCHAR" />
    <result column="CRT_USER_NAME" property="crtUserName" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER_ID" property="updUserId" jdbcType="VARCHAR" />
    <result column="UPD_USER_NAME" property="updUserName" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="PROB_SOURCE" property="probSource" jdbcType="DECIMAL" />
  </resultMap>

  <insert id="addInnerCheck" parameterType="com.ts.spm.bizs.entity.stat.TblInnerCheck" >
<!--    <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="checkId">-->
<!--      SELECT TBL_INNER_CHECK_ID_SEQ.NEXTVAL as checkId FROM DUAL-->
<!--    </selectKey>-->
    insert into TBL_INNER_CHECK(
        CHECK_ID,CHECK_TIME,POINT_ID,CHECK_ORG,CHECK_NAME,HAS_PROB,PLAN_COUNT,REAN_COUNT,CARD_COUNT,
        HAS_LACK_PERSON,POINT_NAME,CHECK_TYPE,CRT_TIME,CRT_USER_ID,CRT_USER_NAME,TENANT_ID
    )
    values(
    #{tblInnerCheck.checkId},#{tblInnerCheck.checkTime},#{tblInnerCheck.pointId},#{tblInnerCheck.checkOrg},
        #{tblInnerCheck.checkName},#{tblInnerCheck.hasProb},#{tblInnerCheck.planCount},#{tblInnerCheck.reanCount},
        #{tblInnerCheck.cardCount},#{tblInnerCheck.hasLackPerson},#{tblInnerCheck.pointName},
        #{tblInnerCheck.checkType},#{tblInnerCheck.crtTime},#{tblInnerCheck.crtUserId},#{tblInnerCheck.crtUserName},
        #{tblInnerCheck.tenantId}
    )
  </insert>

  <select id="getId" resultType="java.lang.Integer">
    SELECT nextval('tblInnerCheck')
  </select>

  <resultMap id="statisByTypeResultMap" type="java.util.Map" >
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="COUNT" property="count" jdbcType="INTEGER" />
  </resultMap>

  <select id="statisByType" resultMap="statisByTypeResultMap">
    select count(*) as COUNT, dp.PROB_TYPE as TYPE
    from spm_oper.TBL_INNER_CHECK b,spm_oper.TBL_INNER_CHECK_PROBLEM dp
    where dp.CHECK_ID=b.CHECK_ID
    <if test="startTime!=null and startTime != ''">
      AND DATE_FORMAT(b.CHECK_TIME,'%Y-%m-%d') &gt;= #{startTime}
    </if>
    <if test="endTime!=null and endTime != ''">
      AND DATE_FORMAT(b.CHECK_TIME,'%Y-%m-%d') &lt;= #{endTime}
    </if>
    <if test="pointIds!=null and pointIds.size>0">
      and  b.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="pointIds" open="(" separator=",">
        #{pointIds}
      </foreach>
    </if>
    GROUP BY dp.PROB_TYPE
  </select>

  <resultMap id="statisByDepartResultMap" type="java.util.Map" >
    <result column="DEPART_ID" property="departId" jdbcType="VARCHAR" />
    <result column="POINT_ID" property="pointId" jdbcType="VARCHAR" />
    <result column="COUNT" property="count" jdbcType="INTEGER" />
  </resultMap>

  <select id="statisByDepart" resultMap="statisByDepartResultMap">
    select count(*) as COUNT, p.DEPART_ID as DEPART_ID
    from spm_oper.TBL_INNER_CHECK b,SPM_SYS.BASE_POINT p
    where b.POINT_ID=p.ID
    <if test="startTime!=null and startTime != ''">
      AND DATE_FORMAT(b.CHECK_TIME,'%Y-%m-%d') &gt;= #{startTime}
    </if>
    <if test="endTime!=null and endTime != ''">
      AND DATE_FORMAT(b.CHECK_TIME,'%Y-%m-%d') &lt;= #{endTime}
    </if>

    <if test="pointIds!=null and pointIds.size>0">
      and  b.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="pointIds" open="(" separator=",">
        #{pointIds}
      </foreach>
    </if>
    GROUP BY p.DEPART_ID
  </select>

  <select id="statisByPoint" resultMap="statisByDepartResultMap">
    select count(*) as COUNT, p.ID as POINT_ID
    from spm_oper.TBL_INNER_CHECK b,SPM_SYS.BASE_POINT p
    where b.POINT_ID=p.ID
    <if test="startTime!=null and startTime != ''">
      AND DATE_FORMAT(b.CHECK_TIME,'%Y-%m-%d') &gt;= #{startTime}
    </if>
    <if test="endTime!=null and endTime != ''">
      AND DATE_FORMAT(b.CHECK_TIME,'%Y-%m-%d') &lt;= #{endTime}
    </if>

    <if test="pointIds!=null and pointIds.size>0">
      and  b.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="pointIds" open="(" separator=",">
        #{pointIds}
      </foreach>
    </if>
    GROUP BY p.ID
  </select>

  <select id="countByPoint" resultType="java.lang.Integer">
    select count(*) as COUNT
    from spm_oper.TBL_INNER_CHECK b,SPM_SYS.BASE_POINT p
    where b.POINT_ID=p.ID
    <if test="startTime!=null and startTime != ''">
      AND DATE_FORMAT(b.CHECK_TIME,'%Y-%m-%d') &gt;= #{startTime}
    </if>
    <if test="endTime!=null and endTime != ''">
      AND DATE_FORMAT(b.CHECK_TIME,'%Y-%m-%d') &lt;= #{endTime}
    </if>

    <if test="pointIds!=null and pointIds.size>0">
      and  b.POINT_ID in
      <foreach close=")" collection="pointIds" index="index" item="pointIds" open="(" separator=",">
        #{pointIds}
      </foreach>
    </if>
  </select>
</mapper>