<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ts.spm.bizs.mapper.jzpftgmnt.TblTestMissionOnDutyCheckMapper" >
  <resultMap id="BaseResultMap" type="com.ts.spm.bizs.entity.jzpftgmnt.TblTestMissionOnDutyCheck" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="point_id" property="pointId" jdbcType="VARCHAR" />
    <result column="judge_picture_user_id" property="judgePictureUserId" jdbcType="VARCHAR" />
    <result column="judge_picture_user_name" property="judgePictureUserName" jdbcType="VARCHAR" />
    <result column="test_mission_id" property="testMissionId" jdbcType="VARCHAR" />
    <result column="test_mission_name" property="testMissionName" jdbcType="VARCHAR" />
    <result column="suspected_forbidden_type" property="suspectedForbiddenType" jdbcType="INTEGER" />
    <result column="suspected_forbidden_subtype" property="suspectedForbiddenSubtype" jdbcType="INTEGER" />
    <result column="if_distinguish" property="ifDistinguish" jdbcType="INTEGER" />
    <result column="x_ray_machine_pictures" property="xRayMachinePictures" jdbcType="VARCHAR" />
    <result column="nature_light_pictures" property="natureLightPictures" jdbcType="VARCHAR" />
    <result column="test_time" property="testTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, point_id, judge_picture_user_id, judge_picture_user_name, test_mission_id, test_mission_name, 
    suspected_forbidden_type, suspected_forbidden_subtype, if_distinguish, x_ray_machine_pictures, 
    nature_light_pictures, test_time, create_time, update_time, memo
  </sql>
</mapper>